<div class="about-gerd-container">
  <!-- About GERD Registry Section -->
  <section class="section">
    <h2 class="section-title red-title">About GERD Registry</h2>
    <p class="section-text">
      Gastroesophageal reflux disease (GERD) is a common and chronic gastrointestinal disorder with a significant negative impact on health-related quality of life. Studies have shown prevalence in India between 7.6% to 28.5%.
    </p>
    <p class="section-text">
      In this regard, this new scientific activity GERD REGISTRY is a reliable information platform, about the patterns, trends, confounding factors in different regions of our country, which is essential towards the better management of the rising burden of GERD in India.
    </p>
    <p class="section-text">
      GERD registry is developed on an online platform. The online platform shall be easily accessible portal for the doctors from across India to fill the case report forms. The due processes is followed with Ethics Committee approvals and the prevailing guidelines.
    </p>
  </section>

  <!-- Mission Section -->
  <section class="section">
    <h2 class="section-title blue-title">Mission</h2>
    <p class="section-text">
      Through GERD Registry, we are dedicated to addressing unmet needs in GERD management. Our commitment extends to conceiving, constructing, and sustaining programs, as well as launching scientific initiatives aimed at providing healthcare professionals with essential evidence-based updates. Additionally, our patient education programs expand our mission's reach, amplifying our impact.
    </p>
  </section>
    <section class="section">
    <h2 class="section-title blue-title">Vision & Objectives</h2>
    <p class="section-text">
GERD Registry of India, is dedicated to impart knowledge about unmet needs and providing essential information regarding GERD management.

Our mission is to address the rising burden of GERD by providing evidence-based updates on GERD management, making healthcare accessible through scientific programs, and engaging eminent doctors in various scientific activities based on the outcomes of GERD registry.    </p>
  </section>

</div>
