
<nav [ngClass]="{'scrolled': isScrolled}" class="header">
    <div class="container">
      <div class="logo">
        <img src="..\assets\WT-banner.webp" alt="">
                <span>GERD REGISTRY</span>
      </div>
      <ul class="nav-links">
        <li><a href="#about">About Registry</a></li>
        <li><a href="#events">Newa & Event</a></li>
        <li><a href="#guidelines">Guidelienes</a></li>
        <li><a href="#blogs">Blogs</a></li>
        <li><a href="#contact">Contact Us</a></li>
      </ul>
      <button class="login-button">Login</button>
    </div>
  </nav><nav [ngClass]="{'scrolled': isScrolled}" class="header">
    <div class="container">
      <div class="logo">
        <img src="..\assets\ef9d83fb-0ac2-4f97-9212-2f1b35541aee.png" alt="">
        <span>GERD REGISTRY</span>
      </div>
      <ul class="nav-links">
        <li><a href="#about">About Registry</a></li>
        <li><a href="#events">Newa & Event</a></li>
        <li><a href="#guidelines">Guidelienes</a></li>
        <li><a href="#blogs">Blogs</a></li>
        <li><a href="#contact">Contact Us</a></li>
      </ul>
      <button class="login-button">Login</button>
    </div>
  </nav>