<div class="mainDiv">
    <div class="header">
        <div class="project-name" >
            <span>X-inventory</span>
        </div>
        <div class="nusSerch">
            <span>
                <i class="fa-solid fa-mobile-screen"></i>
                +1(800)985-9279</span>  
            <div class="search-container">
           <input type="text" id="searchInput" placeholder="Search..." oninput="toggleClearButton()" />
           <i class="fa-solid fa-magnifying-glass search-icon"></i>
                  <!-- <span class="clear-btn" onclick="clearSearch()">✖</span> -->
       </div>    
        </div> 
    </div>
    <!-- <div class="Contact">
        <div>
            <span>Solutions <i class="fa-solid fa-angle-down"></i></span>
            <span>Company <i class="fa-solid fa-angle-down"></i></span>
            <span>Quality <i class="fa-solid fa-angle-down"></i></span>
            <span>Insights <i class="fa-solid fa-angle-down"></i></span>
            <span>Contact <i class="fa-solid fa-angle-down"></i></span>
        </div>
        <div>
            <button>CONTACT US</button>
        </div>
    </div> -->
</div>