  <!-- Navbar -->
  <div style="margin-top: 20px;">
    <nav class="navbar navbar-expand-lg navbar-light shadow-sm px-4 py-2" 
    style="position: absolute; top: 20px; left: 0; right: 0;background-color: white; 
    margin-left: 40px; margin-right: 40px;">
    <a class="navbar-brand d-flex align-items-center me-3" href="#">
        <img src="assets/logo.png" alt="Logo" style="max-height: 40px; width: auto;" class="me-2" />
        <span class="fw-bold" style="color: #027082;">GERD Registry</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse justify-content-between show" id="navbarNav">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0" style="font-weight: 500;">
            <li class="nav-item"><a class="nav-link" routerLink="/about" style="color: #263633;" (click)="aboutRegistory()">About Registry</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/guidelines" style="color: #263633;" (click)="guideline()">Guidelines</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/newsandevents" style="color: #263633;">News and Events</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/blog" style="color: #263633;">Blog</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/contact" style="color: #263633;" (click)="contactUs() ">Contact Us</a></li>
        </ul>
        <!-- <div class="d-flex">
            <button class="btn me-2" style="background-color: white; color: #027082; border: 1px solid #027082; font-weight: 600;" routerLink="/logout">Logout</button>
        </div> -->
    </div>
</nav>
</div>