<div class="main-layout">
  <aside class="sidebar">
    <button class="nav-btn" (click)="goDashboard()">Dashboard</button>
    <button class="nav-btn" (click)="goDoctorlist()">View Doctors</button>
    <button class="nav-btn" (click)="goTofilterchart()">Filter Chart</button>
    <button class="nav-btn" (click)="goDoctorlist()">Contact Us</button>
    <button class="nav-btn">Reports</button>

    <div class="report-group">
      <button class="nav-btn report-btn" (click)="goReport()">
        Gender Distribution <i class="fa-solid fa-chevron-right"></i>
      </button>
      <button class="nav-btn report-btn" (click)="goToCoMorbiditiesReport()">
        Co-morbidities <i class="fa-solid fa-chevron-right"></i>
      </button>
      <button class="nav-btn report-btn treatment" (click)="goTotreatmentReport()">
        Treatment Distribution <i class="fa-solid fa-chevron-right"></i>
      </button>
    </div>
    <button class="logoutbtn" (click)="login()">Logout</button>
  </aside>

  <div class="dropdown-section">
    <div class="content-wrapper">

      <div class="dropdown-column">

        <div class="dropdown-grid">
          <div class="clearandsearch"> <button (click)="clearFilters()" class="Clear">Clear</button>
            <button class="Clear" (click)="applyFilter()">Search</button>

          </div>

          <!-- Category -->
          <div class="dropdown-wrapper" (click)="toggleDropdown('Category')">
            <label class="dropdown-label">Category</label>
            <div class="selected-items">
              <span *ngIf="selectedCategory" class="selected-item">{{ selectedCategory }}</span>
            </div>
            <div class="dropdown-list" *ngIf="dropdownOpen['Category']">
              <li *ngFor="let cat of mainKeys" (click)="onCategorySelect(cat)">{{ cat }}</li>
            </div>
          </div>

          <!-- Option -->
          <div class="dropdown-wrapper" (click)="toggleDropdown('Option')">
            <label class="dropdown-label">Sub Category</label>
            <div class="selected-items">
              <span *ngIf="selectedOption" class="selected-item">{{ selectedOption }}</span>
            </div>
            <div class="dropdown-list" *ngIf="dropdownOpen['Option']">
              <li *ngFor="let opt of availableOptions" (click)="onOptionSelect(opt)">{{ opt }}</li>
            </div>
          </div>

          <div class="dropdown-wrapper" (click)="toggleDropdown('Zones')">
            <label class="dropdown-label">Zones</label>
            <div class="selected-items">
              <span class="selected-item">{{ selectedZone || 'Select Zone' }}</span>
            </div>
            <ul class="dropdown-list" *ngIf="dropdownOpen['Zones']">
              <li *ngFor="let z of zones" (click)="
          toggleSelection(z, 'zone');
          toggleDropdown('Zones');
          $event.stopPropagation()
        " [class.active]="selectedZone === z">
                {{ z }}
              </li>
            </ul>
          </div>

          <div class="dropdown-wrapper" (click)="toggleDropdown('States')">
            <label class="dropdown-label">States</label>
            <div class="selected-items">
              <span class="selected-item">{{ selectedStateName || 'Select State' }}</span>
            </div>
            <ul class="dropdown-list" *ngIf="dropdownOpen['States']">
              <li *ngFor="let s of states" (click)="
          toggleSelection(s, 'state');
          toggleDropdown('States');
          $event.stopPropagation()
        " [class.active]="selectedState?.id === s.id">
                {{ s.name }}
              </li>
            </ul>
          </div>

          <div class="dropdown-wrapper" (click)="toggleDropdown('Cities')">
            <label class="dropdown-label">Cities</label>
            <div class="selected-items">
              <span class="selected-item">{{ selectedCityName || 'Select City' }}</span>
            </div>
            <ul class="dropdown-list" *ngIf="dropdownOpen['Cities']">
              <li *ngFor="let c of cities" (click)="
          toggleSelection(c, 'city');
          toggleDropdown('Cities');
          $event.stopPropagation()
        " [class.active]="selectedCity?.id === c.id">
                {{ c.name }}
              </li>
            </ul>
          </div>

          <!-- Gender -->
          <div class="dropdown-wrapper" (click)="toggleDropdown('Gender')">
            <label class="dropdown-label">Gender</label>
            <div class="selected-items">
              <span class="selected-item">{{ selectedGender || 'Select Gender' }}</span>
            </div>
            <ul class="dropdown-list" *ngIf="dropdownOpen['Gender']">
              <li *ngFor="let g of genders" (click)="
                toggleSelection(g, 'gender'); 
                toggleDropdown('genders'); 

                $event.stopPropagation()" [class.active]="selectedGender === g">
                {{ g }}
              </li>
            </ul>
          </div>

          <div class="dropdown-wrapper" (click)="toggleDropdown('Stage')">
            <label class="dropdown-label">Stages</label>
            <div class="selected-items">
              <span class="selected-item">{{ selectedStage || 'Select Stage' }}</span>
            </div>
            <ul class="dropdown-list" *ngIf="dropdownOpen['Stage']">
              <li *ngFor="let stage of Stages"
                (click)="toggleSelection(stage, 'stage'); toggleDropdown('Stages'); $event.stopPropagation()"
                [class.active]="selectedStage === stage">
                {{ stage }}
              </li>
            </ul>
          </div>
        </div>

        <div class="clearandsearch"> <button (click)="clearFilters()" class="Clear">Clear</button>
          <button class="Clear" (click)="applyFilter()">Search</button>
        </div>
      </div>

      <div class="chart-column">
        <div class="Bothchart"> 
          <div class="chart-fixed">
            <canvas baseChart [data]="pieChartData" [options]="pieChartOptions" [type]="pieChartType"></canvas>
          </div>
          <div class="chart-fixed">
            <canvas baseChart [data]="barChartData" [options]="barChartOptions" [type]="barChartType"
              style="margin-top: 55px;"></canvas>
          </div>
        </div>

        <div> <button class="excel_button" (click)="exportToExcel()" class="dowloade">
            Download
          </button>
        </div>
        <div class="case-table">
          <div class="table-scroll">
            <table>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Initials</th>
                  <th>Subject No</th>
                  <th>Gender</th>
                  <th>DOB</th>
                  <th>Age</th>
                  <th>Education</th>
                  <th>Occupation</th>
                  <th>Pincode</th>
                  <!-- <th>Place Type</th>
                  <th>Socioeconomic Status</th> -->
                  <th>Family Income</th>
                  <th>Zone</th>
                  <th>State</th>
                  <th>City</th>
                  <th>Stage</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of paginatedData">
                  <td>{{ row.patientId }}</td>
                  <td>{{ row.initial }}</td>
                  <td>{{ row.subjectNo }}</td>
                  <td>{{ row.gender }}</td>
                  <td>{{ row.date | date:'dd-MM-yyyy' }}</td>
                  <td>{{ row.age }}</td>
                  <td>{{ row.education }}</td>
                  <td>{{ row.occupation }}</td>
                  <td>{{ row.pincode }}</td>
                  <!-- <td>{{ row.placeType }}</td>
                  <td>{{ row.socioeconomicStatus }}</td> -->
                  <td>{{ row.familyIncome }}</td>
                  <td>{{ row.zone }}</td>
                  <td>{{ row.state }}</td>
                  <td>{{ row.city }}</td>
                  <td>{{ row.stage }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>