<div class="container">
  <app-sidebar></app-sidebar>

  <div class="content" id="pdf-content">
    <div class="arrow-status">
      <div class="arrow" [ngClass]="getStatusClass(1)" (click)="onTabClick(1)">
        Baseline
      </div>

      <div class="arrow" [ngClass]="getStatusClass(2)" (click)="Followup1(); onTabClick(2)">
        Follow-up 1
      </div>

      <div class="arrow" [ngClass]="getStatusClass(3)" (click)="Followup2(); onTabClick(3)">
        Follow-up 2
      </div>
    </div>

    <div class="section">
      <div class="section-title">Patient Information<i *ngIf="getActiveTabId() === 1"
          class="fa-solid fa-arrow-right right-icon" (click)="navigateToFollowUp('followUp2')"></i></div>

      <form [formGroup]="patientForm" class="form-grid">
        <div>
          <label>Patient ID</label>
          <input formControlName="patient" />
        </div>
        <div>
          <label>Initial</label>
          <input formControlName="initial" type="text" />
        </div>
        <div>
          <label>Subject Number</label>
          <input formControlName="subjectNumber" />
        </div>
        <div>
          <label>Date of Birth</label>
          <input formControlName="date" type="date" />
        </div>
        <div>
          <label>Age(in years)</label>
          <input formControlName="age" type="number" />
        </div>
        <div>
          <label>Gender</label>
          <select formControlName="gender">
            <option value="">Select</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
          </select>
        </div>
        <div>
          <label>Education</label>
          <select formControlName="education" class="form-select">
            <option value="" disabled hidden selected></option>
            <option value="10th Std & Above">10th Std & Above</option>
            <option value="Below 10th">Below 10th</option>
          </select>
        </div>
        <div>
          <label>Occupation</label>
          <select formControlName="occupation">
            <option value="">Select</option>
            <option value="Sedentary">Sedentary</option>
            <option value="Non-Sedentary">Non-Sedentary</option>
          </select>

        </div>

        
        <div>
          <label>State</label>
           <select formControlName="state" class="form-select" (onload)="getCities($event)">
              <option value="" disabled>Select State</option>
              <option *ngFor="let state of states" [value]="state.id">{{ state.name }}</option>
            </select>
         </div>


        
        <div>
          <label>City</label>
          <select formControlName="city" class="form-select">
                <option value="" disabled>Select City</option>
                <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
              </select>
        </div>

        <div>
          <label>Pincode</label>
           <input formControlName="pincode" >
        </div>

        <div>
          <label>Place Type</label>
          <select formControlName="placeType">
             <option value="" disabled hidden selected></option>
                <option value="Urban">Urban</option>
                <option value="Sub Urban">Sub Urban</option>
                <option value="Rural">Rural</option>
          </select>
        </div>
        <div>
          <label>Socioeconomic</label>
          <select formControlName="socioeconomic">
            <option value="" disabled hidden selected></option>
                <option value="Above Poverty Line">Above Poverty Line</option>
                <option value="Below Poverty Line">Below Poverty Line</option>
          </select>
        </div>
        <div>
          <label>Annual Family Income</label>
         <select formControlName="income" class="form-select">
                <option value="" disabled hidden selected></option>
                <option value="Less than 1 Lakh">Less than 1 Lakh</option>
                <option value="1-5 Lakhs">1-5 Lakhs</option>
                <option value="Greater Than 5 Lakhs">Greater Than 5 Lakhs</option>
              </select>
        </div>
        <!-- <div>
          <label>Diet</label>
          <input formControlName="diet" type="text" />
        </div>
       
        <div>
          <label>Past History</label>
          <input formControlName="pastHistory" type="text" />
        </div> -->

        <!-- Status row moved to last
        <div class="full-row">
          <label>Status</label>
          <select formControlName="status">
            <option value="">Select</option>
            <option value="active">Active</option>
            <option value="inactive">Inactive</option>
          </select>
        </div> -->
      </form>
    </div>

    <div class="buttons">

      <button type="button" class="btn px-4 register-btn" *ngIf="this.activeTabId == 1" (click)="onNext('followUp2')">
        Next </button>

    </div>
  </div>
</div>