.container {
  display: flex;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}


.arrow-status {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 30px 0; */
}
.arrow {
  position: relative;
  background: gray;
  padding: 20px 25px 20px 30px;
  color: white;
  font-weight: bold;
  margin-right: 10px;
  min-width: 200px;
  text-align: center;
  clip-path: polygon(0% 0%, calc(100% - 15px) 0%, 100% 50%, calc(100% - 15px) 100%, 0% 100%, 15px 50%);
  transition: background-color 0.3s ease;
  font-size: 20px;
}
.baseline-green {
  background-color: green;
  color: white;
}
 .baseline-blue {
  background-color: blue;
  color: white;
}
.sidebar {
  color: white;
  padding: 20px;
  width: 220px;
  min-height: 100vh;
  flex-shrink: 0;
}

.sidebar h5 {
  margin-bottom: 5px;
}

.sidebar .nav {
  list-style: none;
  padding-left: 0;
  margin-top: 20px;
}

.sidebar .nav li {
  padding: 8px 0;
  cursor: pointer;
}

.sidebar .logout {
  margin-top: 30px;
  background: white;
  color: #027082;
  font-weight: bold;
  padding: 10px;
  width: 100%;
  border: none;
  cursor: pointer;
}

.main-content {
  flex: 1;
  padding: 40px;
  background-color: #027082;
}


.form-card {
  background-color: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.form-header {
  background-color: #19667d;
  color: white;
  padding: 10px 16px;
  font-weight: bold;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}

.form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 8px;
}

.form-group textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  resize: vertical;
}

.form-subsection h4 {
  color: #000;
  margin-top: 20px;
  font-weight: 700;
}

.checkbox-group {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.checkbox-group label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.submit-btn {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #19667d;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
}


/* Keep existing style */
/* Active or not — it looks the same */
.register-btn {
  background-color: #026f83;
  color: #fff;
  padding: 12px 32px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.disabled-btn {
  background-color: #026f83 !important;
  cursor: not-allowed !important;
  opacity: 0.65; 
}



h4 {
    color: white;
    font-weight: 600;
    margin-left: 0.25rem;
    display: flex;
    justify-content: space-between;
}
.btn-group-wrap{
  display:flex;
  gap:10px;            /* space between buttons                */
  flex-wrap:wrap;      /* let them wrap on small screens        */
  justify-content:end; /* start / center / end – your choice    */
}

