/* 

.baseline-stage{
  margin-left: 150px;
}

.followup1-stage{
    margin-left: 150px;
}
.followup2-stage{
    margin-left: 150px;
}

h1{
  background-color: white;
  text-align: center;
  font-weight: bold;
  padding: 15px;
  font-size: 30px;
}
.therefriest{
  
} */

.baseline-stage{
  margin-left: 150px;
}

#caseStageContent {
  background-color: #ffffff !important;
  color: #000; 
  padding: 20px; 
}

h2 {
  font-size: 30px;
  padding: 10px;
  background-color: #38768f;  
  text-align: center;
  font-weight: bold;
  color: white;
}

.btn{
  background-color: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 0;
    margin-left: 10px;
}