<div class="mainDiv">
    <div class="fristDiv">
        <div class="container">
            <div><span>
                    CONTACT X-inventory
                </span></div>
            <div class="reachOut"><span>
                    Reach out today
                </span></div>
            <div class="ScheduleMeeting">
                <span>Schedule a Meeting</span>
                <span>Book a meeting with one of our experts today.</span>
            </div>
            <button>Schedule a Meeting</button>
            <!-- <div class="Headquarters">
                <span> Headquarters
                </span>
                NewPower Worldwide
                107 Northeastern Blvd
                Nashua, NH 03062
                U.S.A.
            </div> -->

            <div class="linkNumber">

                <span>
                    <i class="fa-solid fa-mobile-screen"></i>
                    +1(800)985-9279</span>
                <span><i class="fa-solid fa-envelope"></i>INFONEWPOWERWW.com</span>
            </div>
        </div>
        <div>
            <div class="inquiringForm">
                <span>
                    What are you inquiring about?
                </span>
                <div class="btn">
                    <button>GENERAL</button>
                    <button>PART REQUEST</button>
                    <button>BOM UPLOAD</button>
                    <button>EXCESS/SURPLUS</button>
                </div>
                <form>
                    <div class="form">
                        <div>
                            <input type="text" formControlName="tname" placeholder="First Name">
                            <input type="text" formControlName="tname" placeholder="Last Name">
                        </div>
                        <div>
                            <input type="text" formControlName="tname" placeholder="Email Name">
                            <input type="text" formControlName="tname" placeholder="phone Name">
                        </div>
                        <div>
                            <input type="text" formControlName="tname" placeholder="Company Name">
                            <input type="text" formControlName="tname" placeholder="Region Name">
                        </div>
                        <div class="selectFile">
                            <div>
                                <button>GENERAL</button>
                            </div>
                            <div class="nofileSelect">
                                <button>PART REQUEST</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="Submit">
                    <button>SUBMIT YOUR MESSAGE</button><br>
                    *By submitting, the data provided will be used to perform your request according to the Privacy
                    Policy
                </div>
            </div>

        </div>
    </div>
</div>

<div class="unsplashimg">
    <img src="..\assets\kamran-abdullayev-fUijZUIG8gk-unsplash-11.jpg" alt="">
    <div class="bannarText">
        <span>
            02 / LOCATIONS
        </span>
        <div class="ourOffice">
            <span>
                Our

                offices

                around

                the

                world
            </span>
        </div>
        <span>
            With 14 global offices, were proud to deliver local expertise with a global perspective. Explore our
            worldwide locations and meet our industry leaders driving innovation.
        </span>
        <div class="viewButton">
            <button>VIEW LOCATION</button>
            <button>VIEW LEADERSHIP TEAM</button>
        </div>
    </div>
</div>