<div class="guideline-section">
  <h2 class="section-title">Guideline:</h2>

  <div class="guideline-item">
    <h3 class="guideline-heading">
      ACG Clinical Guideline for the Diagnosis and Management of Gastroesophageal Reflux Disease-2022
    </h3>
    <p>
      Full guideline is available at <br />
      <a href="https://journals.lww.com/ajg/fulltext/2022/01000/acg_clinical_guideline_for_the_diagnosis_and.14.aspx"
         target="_blank" class="guideline-link">
        https://journals.lww.com/ajg/fulltext/2022/01000/acg_clinical_guideline_for_the_diagnosis_and.14.aspx
      </a>
    </p>
  </div>

  <div class="guideline-item">
    <h3 class="guideline-heading">
      API-ISG Consensus Guidelines for Management of Gastroesophageal Reflux Disease
    </h3>
    <p>
      Full guideline is available at <br />
      <a href="https://pubmed.ncbi.nlm.nih.gov/32978931/" target="_blank" class="guideline-link">
        https://pubmed.ncbi.nlm.nih.gov/32978931/
      </a>
    </p>
  </div>

  <div class="contact-info">
    <h4>Our Address</h4>
    <p>Micro labs, No.31, Race course Road,<br />Bangalore - 560 001</p>

    <h4>Email Address</h4>
<a href="mailto:info&#64;gerdregistryofindia.com" class="guideline-link">
  info&#64;gerdregistryofindia.com
</a>
    <h4>Call us on</h4>
    <a href="tel:+919731037841" class="guideline-link">+91 9731037841</a>
  </div>
</div>
